html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body
		header

		.errors
		.allowedColors Allowed colors: 
			span.red
			| red,
			span.black black, gray, green, yellow, silver, blue, gold, white

		textarea(name="input", cols="30", rows="10", class="input-colors input-colors__area", id="colors")
		.input-colors.input-colors__accept-button#accept
			.input-colors__accept-button__text GO!

		.output-text#text
			| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident delectus minus perspiciatis accusamus quaerat nemo ut repudiandae at vero totam error nostrum, dolores eaque deleniti, maiores inventore fugiat! Qui, labore?Amet eum neque necessitatibus non corrupti quidem cum optio odio suscipit modi autem vero, beatae numquam pariatur a recusandae minus nihil fugit? Deleniti, animi asperiores accusamus aperiam sit dignissimos sapiente!Quasi fugit possimus, aliquid animi modi ipsa. Harum neque dolorem placeat nihil animi minus sequi odit temporibus! Cumque adipisci sed voluptatum quos quis ab velit minima sunt. Nihil, tempore sapiente?